@use '../../../global/' as var;

/* ==========================
download
=========================== */
.p-download {
  margin: 90px 0 100px;

  @include var.mq(sp) {
    margin-top: 111px;
  }

  &__wrapper {
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;

    @include var.mq(sp) {
      max-width: 1180px;
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  &__items {
    display: block;

    @include var.mq(lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__document {
    width: 100%;

    @include var.mq(lg) {
      width: calc(50% - 40px);
    }
  }

  &__document-title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.429;

    @include var.mq(sp) {
      font-size: 2.8rem;
    }
  }

  &__document-img {
    max-width: 275px;
    margin-right: auto;
    margin-left: auto;
  }

  &__document-text {
    margin-top: 40px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.714;
  }

  &__form {
    width: 100%;
    padding: 0 20px;
    margin-top: 60px;
    background: var.$bg-form;

    @include var.mq(lg) {
      width: 50%;
      padding: 40px;
      margin-top: 0;
    }
  }

  &__form-top-title {
    padding-top: 40px;
    font-size: 2.4rem;
    font-weight: 700;

    @include var.mq(sp) {
      font-size: 3.2rem;
    }
  }

  &__form-item {
    margin-top: 35px;
  }

  &__form-title {
    margin-bottom: 13px;
    font-size: 1.4rem;
    font-weight: 700;

    @include var.mq(sp) {
      font-size: 1.4rem;
    }
  }

  &__form input {
    display: inline-block;
    width: 100%;
    height: 44px;
    border: 1px solid var.$bg-border-bottom;
    border-radius: 5px;
  }

  &__form-title-inline {
    padding: 4px 8px;
    margin-left: 17px;
    font-size: 1.2rem;
    color: var.$bg-thin;
    background: var.$bg-accent-pink;

    @include var.mq(sp) {
      font-size: 10px;
    }
  }

  &__form-footer-text {
    margin-top: 42px;
    text-align: center;
  }

  &__form-privacy {
    position: relative;
    display: inline-block;
    width: 22px;
    vertical-align: middle;

    @include var.mq(sp) {
      margin-left: 90px;

      // margin: 0 auto;
    }
  }

  &__form-privacy-link {
    margin-left: 10px;
    font-weight: 700;
    text-decoration: underline;

    @include var.mq(sp) {
      font-size: 1.4rem;
    }
  }

  &__form-submit {
    text-align: center;
  }

  &__button {
    display: inline-block;
    padding: 24px 32px;
    margin: 40px 20px;
    color: var.$c-main;
    background: var.$bg-thin;
    border: 1px solid var.$c-main;

    @include var.mq(sp) {
      margin: 44px 0;
      font-size: 14px;
    }

    &:hover {
      background: var.$c-main;
      color: var.$c-main-thin;
      transition: 0.3s 0.3s;
    }
  }
}
