// 色
$c-main: #023e78;
$c-main-dark: #000;
$c-main-thin: #fff;
$c-accent-yellow: #fff400;
$c-accent-pink: #d33365;
$c-accent-pink-news: #e61264;
$c-gray: #888;
$c-gray-middle: #808080;
$c-gray-dark: #eee;
$c-service-flow01: #edf3f8;
$c-service-flow02: #dde8f0;
$c-service-flow03: #c7dbe9;
$c-border-about: #e8eaec;
$c-gray-light: #f8f8f8;
$bg-thin: #fff;
$bg-yellow: #fff400;
$bg-dark: #000;
$bg-border-bottom: #ddd;
$bg-accent-pink: #e61264;
$bg-form: #edf3f8;
