@use '../../../global/' as var;

/* ==========================
cases
=========================== */
.p-case-cases {
  margin: 0 20px;

  @include var.mq(sp) {
    padding-top: 60px;
  }

  &__wrapper {
    @include var.mq(xl) {
      max-width: 1180px;
      margin: 0 auto;
    }
  }

  &__title {
    display: block;
    padding-left: 10px;
    font-size: 2.4rem;
    border-left: 8px solid #023e78;

    @include var.mq(xl) {
      display: flex;
      align-items: center;
      padding-left: 10px;
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 1.43;
      border-left: 8px solid #023e78;
    }
  }

  &__title-en {
    display: block;
    font-size: 1.4rem;
    color: var.$c-main;

    @include var.mq(xl) {
      margin-left: 0;
      margin-left: 16px;
      font-size: 1.6rem;
      line-height: 1;
    }
  }

  &__items {
    display: block;

    @include var.mq(xl) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item {
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 3px 12px rgb(0 0 0 / 16%);

    @include var.mq(xl) {
      width: calc(50% - 80px / 2);
      margin-top: 66px;
      background: #fff;
      border-radius: 12px;
    }
  }

  &__item-head {
    position: relative;
    display: flex;
    align-items: center;

    // padding-left: 20px;
    padding: 18px 0 18px 20px;
    background: var.$c-main;
    border-radius: 12px;

    @include var.mq(xl) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 40px;
    }
  }

  &__item-heading {
    color: var.$bg-thin;
  }

  &__business {
    font-size: 1.2rem;

    @include var.mq(xl) {
      font-size: 1.4rem;
    }
  }

  &__name {
    font-size: 1.6rem;
    font-weight: 700;

    @include var.mq(xl) {
      margin-top: 8px;
      font-size: 2.4rem;
      line-height: 1.17;
    }
  }

  &__compellation {
    display: inline-block;
    margin-left: 16px;
    font-size: 16px;
  }

  &__item-logo {
    position: absolute;
    right: 20px;
    width: 90px;

    @include var.mq(xl) {
      top: 50%;
      width: 160px;
      max-width: 160px;
      background: 12px 12px 12px rgb(255 255 255 / 100%);
      transform: translateY(-50%);
    }
  }

  &__item-body {
    margin: 40px;
  }

  &__item-title {
    padding-bottom: 8px;
    font-weight: 700;
    border-bottom: 1px solid #ddd;
  }

  &__item-title-course-name {
    margin-left: 10px;
  }

  &__lists {
    margin-top: 32px;
  }

  &__list-title {
    position: relative;
    padding-bottom: 8px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 700;

    &::before {
      position: absolute;
      top: 40%;
      left: 0;
      width: 20px;
      height: 20px;
      content: '';
      background: url('../../img/icon-check.svg') no-repeat center / cover;
      transform: translateY(-50%);
    }
  }

  &__list-text {
    padding-bottom: 32px;
    font-size: 1.4rem;
    line-height: 1.714;
  }

  .c-button-primary {
    margin-bottom: 62px;
    font-size: 1.4rem;

    @include var.mq(xl) {
      display: block;
      max-width: 384px;
      padding: 25px 10px;
      margin: 60px auto 90px;
      font-size: 16px;
      font-weight: 700;
      color: var.$c-main;
      text-align: center;
      border: 1px solid rgb(2 62 120 / 100%);
    }

    &:hover {
      background: var.$c-main;
      color: var.$c-main-thin;
      transition: 0.3s 0.3s;
    }
  }

  .button-icon-arrow {
    position: relative;

    &::after {
      position: absolute;
      top: 40%;
      right: 22px;
      width: 20px;
      height: 13px;
      content: '';
      background: url('../img/icon-arrow-right04.svg') no-repeat center / cover;
    }
  }
}
